@charset "UTF-8";
.container__menu {
  display: flex;
  background-color: color(display-p3 0.0864 0.1373 0.0038/0.9);
  position: fixed;
  height: 119px;
  padding: 0px 40px;
  justify-content: flex-end;
  align-items: center;
  gap: 950px;
  flex-shrink: 0;
  width: 100%;
  z-index: 1;
}

.container__menu--bar {
  flex-grow: 0 !important;
}

.container__menu--items {
  gap: 40px;
}

.container__menu--item {
  color: #FFFFFF !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container__menu--btn {
  margin-right: 40px;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 30px;
  background-color: #76AB35;
}
.container__menu--btn:hover {
  background-color: #856034;
}

.imgMenu {
  position: relative;
  width: 282.685px;
  height: 181px;
  bottom: -50px;
  margin-left: 40px;
}

.container__home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #FFFFFF;
  gap: 40px;
  text-align: center;
}

.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.opacidad {
  position: absolute;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
}

.container__menu--submenu {
  background-color: color(display-p3 0.0864 0.1373 0.0038/0.9) !important;
}
.container__menu--submenu a:hover {
  background-color: #856034;
}

.title--h1 {
  font-size: 71.341px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.title--h2 {
  font-size: 48.114px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.title--services {
  text-align: center;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 98.3%;
}

.title--services--span {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.title--services--p {
  margin: 0px !important;
}

.btnEts {
  display: flex;
  width: 329px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 30px;
  background-color: #76AB35;
}
.btnEts:hover {
  background-color: #856034;
}

.container__services {
  display: flex;
  flex-direction: column;
  width: 1728px;
  padding: 0px !important;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container__services--header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0px 68.906px 0px;
  color: #76AB35;
}

.container__services--elements {
  padding: 10% 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #FFFFFF;
  text-align: center;
}

.container__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  font-style: normal;
  font-weight: lighter;
  line-height: 100%;
  padding: 0px 60px;
}

.title--services--containerLi {
  display: flex;
  text-align: left;
  gap: 60px;
}
.title--services--containerLi li {
  padding: 10px;
}

.container__whyChooseUs {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  justify-content: center;
  color: #FFFFFF;
  text-align: center;
}

.container__testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  gap: 40px;
  background: linear-gradient(180deg, #FAFFF5 0%, #EFFFDA 100%);
  background: linear-gradient(180deg, color(display-p3 0.984 1 0.9651) 0%, color(display-p3 0.9495 1 0.8673) 100%);
}

.container__testimonials--message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../img/Hero_section.jpg");
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  gap: 40px;
  padding: 40px;
}
.container__testimonials--message h1 {
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.container__testimonials--message p {
  width: 75%;
  font-size: 70px;
  font-style: normal;
  font-weight: lighter;
  line-height: 100%;
}

.container__testimonials--Title {
  font-size: 71.341px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #76AB35;
}

.container__cards {
  display: flex;
  align-items: center;
  gap: 90px;
  text-align: center;
}

.container__cards--card {
  display: flex;
  width: 360px;
  height: 292px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 30px;
  background-color: #76AB35;
  color: #FFFFFF;
  text-align: center;
}
.container__cards--card h4 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container__cards--card p {
  font-size: 25px;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
}

.container__testimonials--carousel {
  /*  width: 90%;
   margin: 50px; */
  display: flex;
  flex-direction: column;
  padding: 0px 100px 0px 100px;
  text-align: center;
}

.carousel {
  width: 95%;
}

.container__testimonials--carousel--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.carousel--text {
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.carousel--author {
  font-size: 25px;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
}

.container__testimonials--extra {
  height: 100vh;
  background-image: url("../img/Service_1.jpg");
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}
.container__testimonials--extra h4 {
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.container__testimonials--extra p {
  width: 1097px;
  font-size: 60px;
  font-style: normal;
  font-weight: lighter;
  line-height: 100%;
}

.container__contacUs {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
  height: 100vh;
  background: linear-gradient(180deg, #2B4B00 0%, #64B200 100%);
  background: linear-gradient(180deg, color(display-p3 0.1961 0.2902 0.0431) 0%, color(display-p3 0.4663 0.6902 0.1026) 100%);
}
.container__contacUs h2 {
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
}

.container__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
  background-color: #FFFFFF;
  border-radius: 30px;
  width: 600px;
  height: 400px;
  border-radius: 30px;
  padding: 40px;
  gap: 20px;
}

.formulario__input {
  border-radius: 12px !important;
  background-color: #C7D4B2 !important;
}

.formulario__div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.formulario__div .btnEts {
  border: none !important;
}

.container__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(22, 35, 1, 0.8980392157);
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  gap: 30px;
  padding-top: 30px;
}

.container__footer--img {
  width: 240.602px;
  height: 154.055px;
}

.container__footer--p {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: #76AB35;
}
.container__footer--p p {
  margin: 0px;
}

.container__footer--socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 21px;
}

.socialMedia {
  color: #FFFFFF;
  text-align: center;
  display: flex;
  gap: 15px;
  align-items: center;
  text-decoration: none;
}
.socialMedia h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin: 0px;
}
.socialMedia div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.socialMedia:hover {
  color: #76AB35;
  text-decoration: none;
}
.socialMedia:hover svg {
  fill: #76AB35;
}

.scroll-down {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #007bff;
  display: none;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-10px);
  }
  60% {
    transform: translateX(-50%) translateY(-5px);
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#header {
  grid-area: header;
}

#home {
  grid-area: home;
}

#services {
  grid-area: services;
}

#treeRemoval {
  background-image: url("../img/TreeRemoval.jpg");
  background-size: cover;
  background-position: center;
}

#treeCablingBrancing {
  background-image: url("../img/TreeCablingBracing.jpg");
  background-size: cover;
  background-position: center;
}

#TreePruningCare {
  background-image: url("../img/TreePruningandCare.jpg");
  background-size: cover;
  background-position: center;
}

#treePlanting {
  background-image: url("../img/TreePlanting.jpg");
  background-size: cover;
  background-position: center;
}

#landscaping {
  background-image: url("../img/Landscaping.jpg");
  background-size: cover;
  background-position: center;
}

#sodAndMulch {
  background-image: url("../img/SodandMulch.jpg");
  background-size: cover;
  background-position: center;
}

#GardeningDesing {
  background-image: url("../img/GardeningDesign.jpg");
  background-size: cover;
  background-position: center;
}

#fencingWorkAndMore {
  background-image: url("../img/FencingWorkAndMore.jpg");
  background-size: cover;
  background-position: center;
}

#testimonials {
  grid-area: testimonials;
}

#whyChooseUscontactUs {
  grid-area: area;
  background-image: url("../img/Bullet_points.jpg");
  background-size: cover;
  background-position: center;
}

#contactUs {
  background-image: url("../img/form.jpg");
  background-size: cover;
  background-position: center;
}

#footer {
  grid-area: footer;
}

@media only screen and (max-width: 380px) {
  main {
    display: none;
  }
}
/* Dispositivos móviles pequeños (smartphones en orientación vertical) */
@media only screen and (max-width: 480px) {
  .container__cards--card {
    width: 200px;
    height: 280px;
    padding: 20px;
  }
  .container__cards--card h4 {
    font-size: 20px;
  }
  .container__cards--card p {
    font-size: 15px;
  }
  .container__cards {
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }
  .container__whyChooseUs {
    padding: 150px 40px 150px 40px;
    height: 100%;
  }
  .container__contacUs {
    padding: 150px 40px 150px 40px;
    height: 100%;
  }
  .container__contacUs h2 {
    font-size: 30px;
  }
  .formulario__div {
    flex-direction: column;
  }
  .container__testimonials {
    padding: 150px 40px 150px 40px;
    height: 100%;
  }
  .container__testimonials--Title {
    font-size: 30px;
  }
  .carousel--text {
    font-size: 25px;
  }
  .carousel--author {
    font-size: 15px;
  }
  .carousel--starts {
    width: 10px;
  }
  .container__services {
    padding: 150px 40px 150px 40px;
    height: 100%;
  }
  .container__home {
    padding: 150px 40px 150px 40px;
    height: 100%;
  }
  .container__text {
    font-size: 15px;
  }
  .container__text p {
    margin-bottom: 5px;
  }
  .title--services--containerLi {
    gap: 25px;
  }
  .title--services--containerLi li {
    padding: 8px;
    width: 112px;
  }
  .title--h1 {
    font-size: 30px;
  }
  .title--h2 {
    font-size: 13px;
  }
  .title--services {
    font-size: 40px;
  }
  .title--services--span {
    font-size: 16px;
  }
  .title--services--p {
    font-size: 14px;
  }
  .btnEts {
    width: 150px;
  }
  .hoja {
    width: 50px;
  }
  .container__testimonials--message {
    gap: 10px;
  }
  .container__testimonials--message h1 {
    font-size: 30px;
  }
  .container__testimonials--message p {
    font-size: 18px;
  }
  .socialMedia h4 {
    font-size: 15px;
  }
  .socialMedia svg {
    width: 23px;
    height: 22px;
  }
}
/* Dispositivos móviles grandes (smartphones en orientación horizontal) */
@media only screen and (min-width: 481px) and (max-width: 850px) {
  .container__cards--card {
    width: 200px;
    height: 280px;
    padding: 20px;
  }
  .container__cards--card h4 {
    font-size: 20px;
  }
  .container__cards--card p {
    font-size: 15px;
  }
  .container__cards {
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }
  .container__whyChooseUs {
    padding: 150px 40px 150px 40px;
    height: 100%;
  }
  .container__contacUs {
    padding: 150px 40px 150px 40px;
    height: 100%;
  }
  .container__contacUs h2 {
    font-size: 30px;
  }
  .container__testimonials {
    padding: 200px 40px 150px 40px;
    height: 100%;
  }
  .container__services {
    padding: 250px 40px 150px 40px;
    height: 100%;
  }
  .title--services--containerLi {
    gap: 40px;
  }
  .container__home {
    padding: 250px 40px 150px 40px;
    height: 100%;
  }
  .title--services {
    font-size: 50px;
  }
  .container__text {
    font-size: 18px;
  }
  .title--h1 {
    font-size: 60px;
  }
  .title--h2 {
    font-size: 30px;
  }
  .title--services--p {
    font-size: 15px;
  }
  .formulario__div {
    flex-direction: column;
  }
  .carousel--text {
    font-size: 25px;
  }
  .carousel--author {
    font-size: 15px;
  }
  .carousel--starts {
    width: 10px;
  }
  .container__testimonials--Title {
    font-size: 50px;
  }
  .container__testimonials--message {
    gap: 10px;
  }
  .container__testimonials--message h1 {
    font-size: 50px;
  }
  .container__testimonials--message p {
    font-size: 32px;
  }
  .socialMedia h4 {
    font-size: 15px;
  }
  .socialMedia svg {
    width: 23px;
    height: 22px;
  }
}
/* Tabletas pequeñas */
@media only screen and (min-width: 851px) and (max-width: 1024px) {
  .container__cards--card {
    width: 264px;
    height: 336px;
    padding: 20px;
  }
  .container__cards {
    gap: 30px;
  }
  .container__whyChooseUs {
    padding: 250px 40px 150px 40px;
    height: 100%;
  }
  .container__contacUs {
    padding: 250px 40px 150px 40px;
    height: 100%;
  }
  .container__testimonials {
    padding: 250px 40px 150px 40px;
    height: 100%;
  }
  .container__services {
    padding: 250px 40px 150px 40px;
    height: 100%;
  }
  .container__services--elements {
    padding: 250px 40px 150px 40px;
    height: 100%;
  }
  .container__home {
    padding: 250px 40px 150px 40px;
    height: 100%;
  }
  .title--services {
    font-size: 80px;
  }
  .container__text {
    font-size: 20px;
  }
  .container__testimonials--message {
    gap: 5px;
  }
  .container__testimonials--message h1 {
    font-size: 35px;
  }
  .container__testimonials--message p {
    font-size: 40px;
  }
  .socialMedia h4 {
    font-size: 15px;
  }
  .socialMedia svg {
    width: 23px;
    height: 22px;
  }
}
/* Tabletas grandes y pantallas pequeñas (laptops pequeñas) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .container__cards--card {
    width: 264px;
    height: 336px;
    padding: 20px;
  }
  .container__cards {
    gap: 70px;
  }
  .container__whyChooseUs {
    padding: 250px 40px 150px 40px;
    height: 100%;
  }
  .container__contacUs {
    padding: 250px 40px 150px 40px;
    height: 100%;
  }
  .container__testimonials {
    padding: 250px 40px 150px 40px;
    height: 100%;
  }
  .container__services {
    padding: 250px 40px 150px 40px;
    height: 100%;
  }
  .container__home {
    padding: 250px 40px 150px 40px;
    height: 100%;
  }
  .container__testimonials--message {
    gap: 5px;
  }
  .container__testimonials--message h1 {
    font-size: 45px;
  }
  .container__testimonials--message p {
    font-size: 47px;
  }
}
/* Laptops y pantallas medianas */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .container__cards--card {
    width: 264px;
    height: 336px;
    padding: 20px;
  }
}
/* Pantallas grandes (desktops) */
@media only screen and (min-width: 350px) and (max-width: 992px) {
  .imgMenu {
    position: relative;
    width: 120px;
    height: 70px;
    bottom: 0px;
    margin-left: 20px;
  }
  .container__menu--bar {
    background-color: color(display-p3 0.0864 0.1373 0.0038/0.9) !important;
    padding: 40px;
  }
  .container__menu--bar a:hover {
    background-color: #856034;
  }
  .navbar-toggler {
    border: none !important;
  }
  .navbar-toggler p {
    margin: 0px !important;
  }
  .container__footer--socialMedia {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (min-width: 350px) and (max-width: 780px) {
  .container__contacUs {
    flex-direction: column;
  }
  .container__form {
    width: 70%;
  }
  .container__services--header {
    padding: 20px 0px 20px 0px;
  }
}
@media (max-width: 992px) { /* Mostrar solo en pantallas pequeñas */
  .scroll-down {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
