* {
    margin: 0;
    padding: 0;
    font-family: $fuentePrincipal;
}

html {
    scroll-behavior: smooth;
}

#header{
    grid-area: header;
}
#home{
    grid-area: home;
}
#services{
    grid-area: services;
}
#treeRemoval{
    @include container_img--services("../img/TreeRemoval.jpg");
}
#treeCablingBrancing{
    @include container_img--services("../img/TreeCablingBracing.jpg");
}
#TreePruningCare{
    @include container_img--services("../img/TreePruningandCare.jpg");
}
#treePlanting{
    @include container_img--services("../img/TreePlanting.jpg");
}
#landscaping{
    @include container_img--services("../img/Landscaping.jpg");
}
#sodAndMulch{
    @include container_img--services("../img/SodandMulch.jpg");
}
#GardeningDesing{
    @include container_img--services("../img/GardeningDesign.jpg");
}
#fencingWorkAndMore{
    @include container_img--services("../img/FencingWorkAndMore.jpg");
}
#testimonials{
    grid-area: testimonials;
    //@include container_img--services("../img/Service_1.jpg");
}
#whyChooseUscontactUs{
    grid-area: area;
    @include container_img--services("../img/Bullet_points.jpg");
}
#contactUs{
    @include container_img--services("../img/form.jpg");
}
#footer{
    grid-area: footer;
}