* {
    margin: 0;
    padding: 0;
    font-family: $fuentePrincipal;
}

html {
    scroll-behavior: smooth;
}
#menu{

}
#header{
    grid-area: header;
}
#home{
    grid-area: home;
}
#services{
    grid-area: services;
}
#treeRemoval{
    @include container_img--services("../img/Service_1.jpg");
}
#TreePruningCare{
    @include container_img--services("../img/Service_2.jpg");
}
#landscaping{
    @include container_img--services("../img/Service_3.jpg");
}
#sodAndMulch{
    @include container_img--services("../img/Service_4.jpg");
}
#GardeningAndDebrisRemoval{
    @include container_img--services("../img/Service_5.jpg");
}
#fencingWorkAndMore{
    @include container_img--services("../img/Service_6.jpg");
}
#testimonials{
    grid-area: testimonials;
    //@include container_img--services("../img/Service_1.jpg");
}
#whyChooseUscontactUs{
    grid-area: area;
    @include container_img--services("../img/Bullet_points.jpg");
}
#contactUs{
    @include container_img--services("../img/form.jpg");
}
#footer{
    grid-area: footer;
}