
/* Dispositivos móviles pequeños (smartphones en orientación vertical) */
@media only screen and (max-width: 480px) {
    .container__cards--card {
      width: 200px;
      height: 280px;
        padding: 20px;
      h4{
        font-size: 20px;
      }
      p{
        font-size: 15px;
      }
    }
    .container__cards{
      flex-direction: column;
      gap: 40px;
      justify-content: center;
    }
    .container__whyChooseUs {
      padding: 150px 40px 150px 40px;
      height: 100%;
    }
    .container__contacUs{
      padding: 150px 40px 150px 40px;
      height: 100%;
      h2{
        font-size: 30px;
      }
    }
    .formulario__div{
      flex-direction: column;
    }
    .container__testimonials{
      padding: 150px 40px 150px 40px;
      height: 100%;
    }
    .container__testimonials--Title{
      font-size: 30px;
    }
    .carousel--text{
      font-size: 25px;
    }
    .carousel--author{
      font-size: 15px;
    }
    .carousel--starts{
      width: 10px;
    }
    .container__services{
      padding: 150px 40px 150px 40px;
      height: 100%;
    }
    .container__home{
      padding: 150px 40px 150px 40px;
      height: 100%;
    }
    
    .container__text{
      p{
        margin-bottom: 5px;
      }
      font-size: 15px;
    }
    .title--h1{
      font-size: 30px;
    }
    .title--h2{
      font-size: 13px;
    }
    .title--services{
      font-size: 40px;
    }
    .title--services--span{
      font-size: 16px;
    }
    .title--services--p{
      font-size: 14px;
    }
    .btnEts{
      width: 150px;
    }
    .hoja{
      width: 50px;
    }
    .container__testimonials--message{
      gap: 10px;
      h1{
        font-size: 30px;
      }
      p{
        font-size: 18px;
        
      }
    }
  }
  
  /* Dispositivos móviles grandes (smartphones en orientación horizontal) */
  @media only screen and (min-width: 481px) and (max-width: 850px) {
    .container__cards--card {
 width: 200px;
      height: 280px;
        padding: 20px;
      h4{
        font-size: 20px;
      }
      p{
        font-size: 15px;
      }
      
    }
    .container__cards{
      flex-direction: column;
      gap: 40px;
      justify-content: center;
    }
    .container__whyChooseUs {
      padding: 150px 40px 150px 40px;
      height: 100%;
    }
    .container__contacUs{
      padding: 150px 40px 150px 40px;
      height: 100%;
      h2{
        font-size: 30px;
      }
    }
    .container__testimonials{
      padding: 200px 40px 150px 40px;
      height: 100%;
    }
    .container__services{
      padding: 250px 40px 150px 40px;
      height: 100%;
    }
    .container__home{
      padding: 250px 40px 150px 40px;
      height: 100%;
    }

    .title--services{
      font-size: 50px;
    }
    
    .container__text{
      font-size: 30px;
    }
 
    .title--h1{
      font-size: 30px;
    }
    .title--h2{
      font-size: 15px;
    }
    .title--services--p{
      font-size: 15px;
    }

    .formulario__div{
      flex-direction: column;
    }

    .carousel--text{
      font-size: 25px;
    }
    .carousel--author{
      font-size: 15px;
    }
    .carousel--starts{
      width: 10px;
    }
    .container__testimonials--Title{
      font-size: 50px;
    }
    .container__testimonials--message{
      gap: 10px;
      h1{
        font-size: 50px;
      }
      p{
        font-size: 32px;
        
      }
    }
  }
  
  /* Tabletas pequeñas */
  @media only screen and (min-width: 851px) and (max-width: 1024px) {
    .container__cards--card {

        width: 264px;
        height: 336px;
        padding: 20px;
      
    }
    .container__cards{
      gap: 30px;
    }

    .container__whyChooseUs {
      padding: 250px 40px 150px 40px;
      height: 100%;
    }
    .container__contacUs{
      padding: 250px 40px 150px 40px;
      height: 100%;
    }
    .container__testimonials{
      padding: 250px 40px 150px 40px;
      height: 100%;
    }
    .container__services{
      padding: 250px 40px 150px 40px;
      height: 100%;
    }
    .container__services--elements{
      padding: 250px 40px 150px 40px;
      height: 100%;
    }
    .container__home{
      padding: 250px 40px 150px 40px;
      height: 100%;
    }
    .title--services{
      font-size: 90px;
    }
    .container__text{
      font-size: 35px;
    }
    .container__testimonials--message{
      gap: 5px;
      h1{
        font-size: 35px;
      }
      p{
        font-size: 40px;
        
      }
    }
  }
  
  /* Tabletas grandes y pantallas pequeñas (laptops pequeñas) */
  @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .container__cards--card {

        width: 264px;
        height: 336px;
        padding: 20px;
      
    }
    .container__cards{
      gap: 70px;
    }

    .container__whyChooseUs {
      padding: 250px 40px 150px 40px;
      height: 100%;
    }
    .container__contacUs{
      padding: 250px 40px 150px 40px;
      height: 100%;
    }
    .container__testimonials{
      padding: 250px 40px 150px 40px;
      height: 100%;
    }
    .container__services{
      padding: 250px 40px 150px 40px;
      height: 100%;
    }
    .container__home{
      padding: 250px 40px 150px 40px;
      height: 100%;
    }

    .container__testimonials--message{
      gap: 5px;
      h1{
        font-size: 45px;
      }
      p{
        font-size: 47px;
        
      }
    }

  }
  
  /* Laptops y pantallas medianas */
  @media only screen and (min-width: 1201px) and (max-width: 1440px) {
    .container__cards--card {

      width: 264px;
      height: 336px;
      padding: 20px;
    
  }
  }
  
  /* Pantallas grandes (desktops) */
  @media only screen and (min-width: 1441px) {

  }
  
  @media only screen and (min-width: 350px) and (max-width: 992px) {
    .imgMenu {
      position: relative;
      width: 120px;
      height: 70px;
      bottom: 0px; 
      margin-left: 20px;
  }
  
  .container__menu--bar{
    background-color: $colorMenu !important;
    padding: 40px;
  a{
    &:hover{
      background-color: $colorBg;
    }
  }
  }
  .navbar-toggler {
    border: none !important;
    p{
      margin: 0px !important;
    }
  }
  }

  @media only screen and (min-width: 350px) and (max-width: 780px) {
    .container__contacUs{
      flex-direction: column;
    }
    .container__form {
      width: 70%;
    }
    .container__services--header{
      padding: 20px 0px 20px 0px;
    }
  }