$colorMenu: color(display-p3 0.0864 0.1373 0.0038 / 0.90);
$colorBg: #856034;
$color1: #324A0B;
$color2: #6E952A;
$color3: #76AB35;
$color4: #FFFFFF;
$color5: #C7D4B2;
$colorFooter: #162301E5;


$fuentePrincipal:"Nunito Sans", sans-serif;